# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.firebase/*.cache
public/google*.html
data_calculate/wordle-cz-firebase-adminsdk-*.json
src/constants/wordlist.ts
src/lib/settingsFirebase.ts
other/*
data_prepare/input/*.dic
data_prepare/input/*.txt
data_prepare/output/*.ts
src/constants/wordlist_OLD.txt
data_prepare/input/localstorage_analysis/*
data_prepare/input/*.tsv
data_prepare/output/*.json
!deploy_prod.bat
ui-debug.log
